<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Padder</title>
</head>
<body>
	<section th:fragment="padder">
		<form action="" th:action="${(#mvc.url('AC#doPadding')).build()}"
			th:object="${padderForm}" method="POST">
			<div class="form-group" th:class="${#fields.hasErrors('input')}? has-error">
				<label class="control-label" for="input">Input</label>
				<input id="input" type="text" class="form-control" th:field="*{input}" />
				<span th:if="${#fields.hasErrors('input')}" th:errors="*{input}">Input Error</span>
			</div>
			<div class="form-group">
				<label class="control-label" for="output">Output</label>
				<input id="output" type="text" class="form-control" th:field="*{output}" />
			</div>
			<div>
				<button type="submit" class="btn">Pad!</button>
			</div>
		</form>
	</section>
</body>
</html>